.myDiagram {
    width: 70%;
    height: 100%;
    flex: 1 1 auto;
    margin: auto;
}

#prueba {
    width: 250px;
}

canvas {
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}
